@import "reset";
@import "config";
@import "bourbon/bourbon";
@import "neat/neat";
@import "grid-settings";
@import "typography";

body {
	padding-left: 1em;
	padding-right: 1em;
}

a {
	border-bottom: 1px solid $base-font-color;

}

a:hover {
	color: $base-accent-color;
}

header {

	@include outer-container;

	margin-top: 2em;
	//border-top: $header-border;

	@include media($mobile) {
		margin-top: 1em;
	}

	opacity: 0;
	@include transform(translateY(50px));
	@include transition(all 1200ms ease);
	@include transition-delay(50ms);

	#logo-container {
		@include span-columns(3);

		@include media($mobile) {
			@include span-columns(2);
			#logo {
				display: none;
			}
		}

		#logo {
			padding-top: 0.5em;
			font-weight: bold;
			font-size: 48px;
			line-height: 60px;
			letter-spacing: -0.05em;
			float: left;
		}

		#subtitle {
			color: $base-accent-color;
			font-weight: bold;
			font-size: 18px;
		}
	}

	#title-container {
		@include media($mobile) {
			@include span-columns(4);
			font-size: 20px;
		}

		@include span-columns(12);
		padding-top: 0.25em;
		color: $base-accent-color;
		font-weight: bold;
		font-size: 30px;
		text-align: left;
	}


	#subtitle-container {
		float: left;
		display: block;
		margin-right: 2.3576515979%;
		/* margin-right: 0%; */
		width: 100%;
		padding-top: 0.5em;
		color: #366519;
		font-size: 25px;
		text-align: left;
	}

	a {
		color: $base-logo-link-color;
		text-decoration: none;
		border: none;

		&:hover {
			color: $base-logo-hover-link-color;
			border-color: $base-logo-hover-link-color;
		}

		&:active, &:focus {
			color: $base-logo-hover-link-color;
			border-color: $base-logo-hover-link-color;
		}
	}

	nav {
		border-top: 2px solid #4c5358;
		text-align: center;
		@include span-columns(11.5);

		@include media($mobile) {
			text-align: left;
			margin-top: 1em;
			@include span-columns(4);
		}
		ul {

			padding-top: 0.5em;
			line-height: 60px; 

			li {
				display: inline-block;
				margin-left: 1em;

				@include media($mobile) {
					margin-left: 0;
					margin-right: 1em;
				}

				a {
					font-weight: bold;
				}

				a.bordered {
					border-radius: 0.2em;
					padding: 0.4em;
					padding-left: 0.8em;
					padding-right: 0.8em;
					border: $header-border;
				}
			}
		}
	}

}

#content {

	@include outer-container;
	padding-bottom: 2em;

	opacity: 0;
	@include transform(translateY(50px));
	@include transition(all 1200ms ease);
	@include transition-delay(350ms);

	section.intro {
	 
		@include outer-container;
		margin-bottom: 1em;

		@include media($mobile) {
			margin-bottom: 1em;
		}

		h1 {
			font-size: 8em;
			border-top: $heading-border;
			letter-spacing: -0.05em;
			margin-top: 1.2em;
			margin-bottom: 1em;

			@include media($mobile) {
				font-size: 4em;
				line-height: 1.2em;
				padding-top: 0.4em;
			}

			span.nl {
				display: none;

				@include media($mobile) {
					display: block;
				}
			}
		}

		p {
			font-size: 2.0em;
			line-height: 1.5em;
			letter-spacing: 0.02em;
		}
	}

	section.row {

		@include outer-container;
		padding-top: 1em;
		//padding-bottom: 1em;

		h2 {
			text-transform: uppercase;
			font-size: 1.2em;
			font-weight: bold;
			color: $base-accent-color;
			margin-bottom: 0.5em;
		}

		p {
			font-size: 1.2em;
			line-height: 1.6em;
		}

		.col,.col-full {
			@include span-columns(6);
			//border-top: $section-border;
			padding-top: 0.5em;
			padding-bottom: 0.5em;

			ul {
				padding-left: 1em;
			}

			.separator {
				display: flex;
				align-items: center;
				text-align: center;
				color: #999999;
				font-style: italic;
			}
			.separator::before, .separator::after {
				content: '';
				flex: 1;
				border-bottom: 1px solid #a0a0a0;
			}
			.separator::before {
				margin-right: .25em;
			}
			.separator::after {
				margin-left: .25em;
			}

			p.session {
				margin-top: 1em;
			}
			span.time {
				width: 15ex;
				text-align: left;
				font-weight: lighter;
			}
			span.authors {
				display: block;
				//font-size: smaller;
			}
			span.title {
				display: block;
				font-weight: bold;
			}
			span.abstract {
				margin-top: 1em;
				display: block;
				font-size: smaller;
			}
			span.bio {
				margin-top: 1em;
				display: block;
				font-size: smaller;
			}

			#bio-pic {
				float: right;
				margin: 0 0 0 15px;
			}

			#bio-pic-2 {
				float: right;
				margin: 0 0 0 15px;
			}

			span.stitle {
				//display: block;
				font-weight: bold;
			}
			span.toggle {
				font-size: 10pt;
				display: block;
				cursor: pointer;
			}
			span.toggle:hover {
				text-decoration: underline;
			}
			
			@include media($mobile) {
				@include span-columns(4);
			}
		}

		.col-b,.col-full-b {
			@include span-columns(6);
			border-top: $section-border;
			padding-top: 1em;
			padding-bottom: 1em;
			ul {
				padding-left: 1em;
			}

			@include media($mobile) {
				@include span-columns(4);
			}
		}

		.col-full {
			@include span-columns(12);
			@include media($mobile) {
				@include span-columns(4);
			}
		}

		.col-full-b {
			@include span-columns(12);
			@include media($mobile) {
				@include span-columns(4);
			}
		}
	}

	.photo-grid {

		@include display(flex);
		@include flex-flow(row wrap);
		@include justify-content(space-between);

		a {
			margin-bottom: 20px;
			border: none;
			text-decoration: none;
		}

		a.col-1 {
			width: 100%;
		}

		a.col-2 {
			width: 49%; width: calc(50% - 12px);
		}

		a.col-3 {
			width: 32%; width: calc(33.33333% - 16px);
		}

		@include media($mobile) {
			a {
				margin-bottom: 10px;
			}

			a.col-2 {
				width: 49%; width: calc(50% - 7px);
			}
		}
	}
}

.loaded {

	header {

		@include transform(none);
		opacity: 1;
	}

	#content {


		@include transform(none);
		opacity: 1;

	}
}
